#loadbody
  %section
    %h1.none NEWS
    .slider_ol
      .slider_wrap
        .slider_body
          - @records.each do |record|
            .slider
              = link_to "", class: "slider_links cover p", "data-src" => "#{record.image_url}" do
                %article
                  .slider_info
                    %p.slider_cat= record.title
                    %span
                    %h1= record.subtitle
                    %span
                    %h2= record.description
  %h1.splogo.sp
    %a{:href => ""}
      %img{:alt => "リイシューレコーズ", :src => "http://reissuerecords.net/rr/wp-content/themes/rr/common/img/logo_wh.png", :width => "300"}/
  .scrollbk
    .footer_c_1.cover{"data-src" => "http://reissuerecords.net/rr/wp-content/themes/rr/common/img/Monster_scroll_L1.png"}
    .footer_c_2.cover{"data-src" => "http://reissuerecords.net/rr/wp-content/themes/rr/common/img/Monster_scroll_L2.png"}
    .footer_c_3.cover{"data-src" => "http://reissuerecords.net/rr/wp-content/themes/rr/common/img/Monster_scroll_L3.png"}
    .footer_c_4.cover{"data-src" => "http://reissuerecords.net/rr/wp-content/themes/rr/common/img/Monster_scroll_L4.png"}
    .footer_c_5.cover{"data-src" => "http://reissuerecords.net/rr/wp-content/themes/rr/common/img/Monster_scroll_L5.png"}
  .subcontent.table
    .subcontent_left.td
      %section
        %h1.subcontent_title
          %p{ style: "font-size: 20px;" } schedule
        .subcontent_news_body
          %ul.subcontent_tab1.on
            - @schedules.each do |schedule|
              %li.subcontent_news_line
                %a.p.subcontent_news.rand_wrap{:href => ""}
                  .subcontent_news_header
                    %article
                      %h1= schedule.title
                      %p #{schedule.started_month}月 #{schedule.started_day}日 - #{schedule.end_month}月 #{schedule.end_day}

      .subcontent_middle
    .subcontent_right.td
      %section
        %h1.subcontent_title
          %p{ style: "font-size: 20px;" } members
        .subcontent_disco_wrap
          .subcontent_disco
            - @members.each do |member|
              .subcontent_disco_body.rand_wrap
                %article
                  %h1
                    %a.cover.p{"data-src" => "#{member.profile_image_url}", :href => "http://reissuerecords.net/discography/loser-%e3%83%8a%e3%83%b3%e3%83%90%e3%83%bc%e3%83%8a%e3%82%a4%e3%83%b3/"}
          .subcontent_disco_control
            .subcontent_disco_prev
              %a.bx-prev{:href => ""}
                .pointer
                  %img{:alt => "", :src => "http://reissuerecords.net/rr/wp-content/themes/rr/common/img/pointer_prev_black.png", :width => "7"}/
                .bar
                  %span
            .subcontent_disco_span
            .subcontent_disco_next
              %a.bx-next{:href => ""}
                .bar
                  %span
                .pointer
                  %img{:alt => "", "data-pin-nopin" => "true", :src => "http://reissuerecords.net/rr/wp-content/themes/rr/common/img/pointer_next_black.png", :width => "7"}/
