= form_for [:admin, @schedule],  html: {role: 'form', class: "form-horizontal"} do |f|
  = f.error_messages!
  .form-group
    = f.label :title, class: "col-sm-3 control-label"
    .col-sm-9= f.text_area :title, class: "form-control", required: true
  .form-group
    = f.label "予定開始月", class: "col-sm-3 control-label"
    .col-sm-9
      = f.select :started_month, (1..12).to_a,{}, class: "form-control", required: true
  .form-group
    = f.label "予定終了月", class: "col-sm-3 control-label"
    .col-sm-9
      = f.select :end_month, (1..12).to_a,{}, class: "form-control", required: true
  .form-group
    = f.label "予定開始日", class: "col-sm-3 control-label"
    .col-sm-9
      = f.select :started_day, (1..31).to_a,{}, class: "form-control", required: true
  .form-group
    = f.label "予定終了日", class: "col-sm-3 control-label"
    .col-sm-9
      = f.select :end_day, (1..31).to_a,{}, class: "form-control", required: true
  .form-group
    .col-sm-4.col-sm-offset-3= f.submit "Done", class: "btn btn-primary"
